@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
.mission-and-vision,
.mission-and-vision * {
  /* border: 1px solid red; */
}

body {
  background-color: #1a1a1a;
}
.navbar {
  position: fixed;
  width: 100%;
}
.navbar .links .active {
  background-color: #262626;
}

.navbar .account .active {
  background-color: #caff33;
  color: #1c1c1c;
}
.login-signup .active {
  background-color: #caff33;
  color: #1c1c1c;
}

.first-box-gradient {
  background: linear-gradient(
    180deg,
    rgba(202, 255, 51, 0.05) 0%,
    rgba(202, 255, 51, 0) 100%
  );
}
.second-box-gradient {
  background: linear-gradient(
    180deg,
    rgba(202, 255, 51, 0.1) -66.22%,
    rgba(202, 255, 51, 0) 85.46%
  );
}
.black-bg-gradient {
  background: linear-gradient(180deg, rgba(25, 25, 25, 0) 0%, #191919 100%);
}
.green-black-gradient {
  background: linear-gradient(
    142deg,
    rgba(202, 255, 51, 0.05) 0%,
    rgba(25, 25, 25, 0.5) 33%
  );
}
.second-green-black-gradient {
  background: linear-gradient(
    142deg,
    rgba(202, 255, 51, 0.1) 0%,
    rgba(25, 25, 25, 0.5) 46%
  );
}
.second-black-bg-gradient {
  background: linear-gradient(
      267deg,
      #1c1c1c 40.67%,
      rgba(28, 28, 28, 0) 99.81%
    ),
    lightgray 0% 0% / 62.46418356895447px 62.46418356895447px repeat, #1c1c1c;
}
.third-black-bg-gradient {
  background: linear-gradient(270deg, rgba(25, 25, 25, 0) 0%, #191919 105.84%);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #262626;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
}

.features .buttons::-webkit-scrollbar {
  height: 0px;
}
